---
# tasks file for role_build
- name: Installing packages. Ensure package is present
  apt:
    name: "{{ item }}"
    state: present
    update_cache: yes
  with_items:
      - default-jdk
      - maven
      - tomcat9

- name: Cloning a repository
  git:
    repo: "{{ url_git }}"
    dest: "{{ puth_java_app }}"

- name: Run command mvn package
  command:
    chdir: "{{ puth_java_app }}"
    cmd: mvn package

- name: Copying a .war to a tomcat9/webapps
  copy:
    src: "{{ puth_java_app }}/target/{{ name_war }}"
    dest: "{{ puth_tomcat }}"
    remote_src: yes
