---
# tasks file for role_build
- name: Installing packages. Ensure {{ item }} package is present
  apt:
    - name: {{ item }}
    - state: present
    - update_cache: yes
  with_items:
    - "default-jdk"
    - "maven"
    - "tomcat9"

- name: Cloning a repository
  git:
    repo: "{{ url_git }}"
    dest: "{ { puth_java_app } }"
  notify: mvn package

- name: Copying a "{{ name_war }}" to a "{{ puth_tomcat }}"
  copy:
    src: "{ { puth_java_app } }/target/{ { name_war } }"
    dest: "{ { puth_tomcat } }"
    remote_src: yes

